body {
    margin: 0;
}

.header {
    font-size: 36pt;
    font-family: sans-serif;
    height: 60px;
    border:1px solid gray;
    padding: 10px;
}

.container {
    position: relative;
    height: 500px;
}

.sidebar {
    width: 130px;
    background: #ff6677;
    position: absolute;
    top: 0;
    height: 100%;
    padding-right:10px;
    padding-left:10px;
    padding-top: 15px;
    padding-bottom:15px;
}

.main-content {
	border:5px solid blue;
	margin: 5px;
    background: #ffffcc;
    position: absolute;
    top: 0;
    left: 200px;
    padding-right:15px;
    padding-left:15px;
    padding-bottom:10px;
}
